[cookie]
cookieLength = 600
cookieName = "siebelMaintenanceSession"

[server]
httpPort = 19090
httpsPort = 19091
certName = "d:\\Dev\\GoLang\\src\\GoWeb\\SiebelMaintenance\\config\\cert.pem"
keyName = "d:\\Dev\\GoLang\\src\\GoWeb\\SiebelMaintenance\\config\\key.pem"

[activeDirectory]
base = "DC=Olympus,DC=F5Net,DC=com"
host = "ad-ldap.olympus.f5net.com"
port = 389
useSSL = false
bindUser = "_StgSiebelADSIUser"

[logger]
loggerFile = "D:\\Dev\\projects-data\\log\\SiebelMaintenance.log"
#log levels - Debug,Info,Warn,Error
logLevel = "Info"

[siebel]
serviceRequestPath = "D:\\Dev\\projects-data\\data\\SiebelMaintenance\\messages\\in\\"
serviceRequestFTPPath = "D:\\Dev\\GoLang\\src\\GoWeb\\SiebelMaintenance\\static\\ftp\\"
