[logger]
loggerFile = "D:\\Dev\\projects-data\\log\\SiebelMaintenance.log"
#log levels - Debug,Info,Warn,Error
logLevel = "Info"

[siebelService]
serviceRequestPath = "D:\\Dev\\projects-data\\data\\SiebelMaintenance\\messages\\in\\"
serviceErrorFilePath = "D:\\Dev\\projects-data\\data\\SiebelMaintenance\\messages\\error\\"
serviceEndpoint = "http://DV5SCM02.itlab.local/eai_enu/start.swe?SWEExtSource=WebService&SWEExtCmd=Execute&UserName=EAIUSER&Password=EAIUSER!1"


# secureSkipVerify = true - skip certs ,false is secure call
# STG url = https://scm.stg.f5net.com/eai_enu/start.swe?SWEExtSource=WebService&SWEExtCmd=Execute&UserName=EAIUSER&Password=EAIUSER!1
#DV5 url = "http://DV5SCM02.itlab.local/eai_enu/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute&amp;UserName=EAIUSER&amp;Password=EAIUSER!1"
